<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie page</title>
    <style>
      body {
        background-color: lightblue;
      }
    </style>
  </head>

<body>
  <nav>
    <div class="site-title">
      <h1>This is a cookie recepie submission site</h1>
    </div>
  </nav>
  <a href="/create"><h3>Go ahead and create a cookie</h3></a>

  <footer>
    by <b>kruczyna</b>
  </footer>
  </body>
</html>
